// ----------------------
// Stock Bootstrap stuff.
// ----------------------

@import "bootstrap.less";

// -----------------------
// Custom stuff goes here.
// -----------------------

// bootstrap.less doesn't include the responsive CSS. Pull it in.
// Not needed in 3.1.1
//@import "responsive.less";

// Customize the navbar color, and bump the font size up a bit.
@navbarBackground: #00445c;
@navbarBackgroundHighlight: #0087b8;
@navbarLinkColor: #ffffff;
@navbarLinkColorHover: #aaaaaa;
@baseFontSize: 14px;